<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        a{
            padding: 10px 30px;
            display: inline-block;
        }
        .tugma{
          text-decoration: none;
            color: darkslategrey;
            background-color: wheat;
            border-radius: 5px;
        }
        .tugma:hover{
            color: white;
            background-color: darkgray;
        }
    </style>
</head>
<body>
<h1>Ro'yxatdan o'tish</h1>
<p>Ro'yxatdan o'tishni yakunlash uchun tugmani bosing:
    <a  class="tugma"
            href="http://localhost:8080/auth/registration/verification/" target="_blank">tasdiqlash</a></p>
</body>
</html>