.profile_tab {
    padding-top: 40px;
    padding-bottom: 100px;
}

.profile_tab_title {
    font-weight: 700;
    font-size: 46px;
    line-height: 64.4px;
    margin-bottom: 40px;
}

.profile_tab_sub_title {
    font-weight: 700;
    font-size: 34px;
    line-height: 47.6px;
    margin-bottom: 40px;
}

.profile_tab_link__block {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-column-gap: 60px;
    -moz-column-gap: 60px;
    column-gap: 60px;
    margin-bottom: 40px;
}

.profile_tab_link {
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    color: #334155;
    padding-bottom: 8px;
}

.active_link {
    color: #255cd2;
    border-bottom: 3px solid #255cd2;
    z-index: 111;
}

.profile_tab_line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #d4dde8;
    bottom: 1px;
}

.profile_tab .posts_block {
    justify-content: flex-start;
    margin-bottom: 40px;
}

.profile_tab .posts_block .posts_box {
    position: relative;
}
